<section id="projects-s">
  <div class="container">
    <div class="d-flex align-items-center">
      <div style="width: 150px"><p class="small-cap">Recent Projects</p></div>
      <div class="w-100 py-0"><hr class="mt-0 mb-2" /></div>
    </div>
    <div class="row">
      <div class="col-xl-4 p-3">
        <div class="canvas">
          <a href="#">
            <div>
              <img
                src="{{ url_for('static', filename='images/about.png') }}"
                class="w-100"
                alt=""
              />
            </div>
            <div class="text-center px-3 pt-3 pb-1">
              <p class="mb-0 project-cap">
                water-proofing - vita factory complex
              </p>
              <p class="small-cap" style="font-size: 14px">
                sagamu, ogun state
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
