<section id="services-s">
  <div class="container">
    <div class="row gx-5 align-items-center">
      <div class="col-xl-6">
        <p class="small-cap mb-1">What we do</p>
        <p class="big-cap2 mb-3 text-white">
          SMART INNOVATION TO MASTER ANY ENGINEERING CHALLENGE
        </p>
        <p class="text2 text-white">
          We work with clients across all major infrastructure sectors and bring
          deep technical expertise to the world's most ambitious infrastructure
          projects
        </p>
      </div>
      <div class="col-xl-6">
        <div class="col-xl-9 ms-auto">
          <div class="row align-items-end text-white">
            <div class="col-xl-9 text-end">
              <p class="service-cap mb-1">
                <a href="">Construction Services</a>
              </p>
              <hr class="my-1" />
            </div>
            <div class="col-xl-3">
              <a href="#">
                <img
                  src="{{ url_for('static', filename='images/about.png') }}"
                  class="service-thumb"
                  alt=""
                />
              </a>
            </div>
          </div>

          <div class="row align-items-end text-white mt-4">
            <div class="col-xl-9 text-end">
              <p class="service-cap mb-1">
                <a href="">Real Estate Development</a>
              </p>
              <hr class="my-1" />
            </div>
            <div class="col-xl-3">
              <a href="#">
                <img
                  src="{{ url_for('static', filename='images/about.png') }}"
                  class="service-thumb"
                  alt=""
                />
              </a>
            </div>
          </div>

          <div class="row align-items-end text-white mt-4">
            <div class="col-xl-9 text-end">
              <p class="service-cap mb-1">
                <a href="">Engineering Materials Supply</a>
              </p>
              <hr class="my-1" />
            </div>
            <div class="col-xl-3">
              <a href="#">
                <img
                  src="{{ url_for('static', filename='images/about.png') }}"
                  class="service-thumb"
                  alt=""
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>