{% extends 'base.html' %} {% block layout %}
<div id="about-hero" class="text-white">
  <div class="container">
    <div class="col-xl-6">
      <p class="big-cap2">who we are</p>
      <p class="big-cap">
        Atkins brings together data, technology and people to help create a
        lived environment that works better for everyone.
      </p>
    </div>
  </div>
</div>
<section class="section-1">
  <div class="container">
    <div class="d-flex align-items-center">
      <div style="width: 80px"><p class="small-cap">About us</p></div>
      <div class="w-100 py-0"><hr class="mt-0 mb-2" /></div>
    </div>
    <div class="row align-items-center gx-5">
      <div class="col-xl-6">
        <p class="text3">
          As a market-leading design, engineering and project management
          consultancy we're transforming infrastructure delivery. We are
          thriving Nigerian construction company that executes projects in the
          areas of Civil, Water, Structures, and Municipal Engineering.
        </p>
      </div>
      <div class="col-xl-6">
        <div class="p-2">
          <img
            src="{{ url_for('static', filename='images/about.png') }}"
            class="w-100"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="row align-items-center gx-5 mt-5">
      <div class="col-xl-6">
        <div class="p-2">
          <img
            src="{{ url_for('static', filename='images/about.png') }}"
            class="w-100"
            alt=""
          />
        </div>
      </div>
      <div class="col-xl-6">
        <p class="text3">
          Through partnerships and diversification, we are able to offer
          comprehensive services to our clients across the construction sector.
          Currently making a name for ourselves in the area of construction
          materials supply and installation, our aim is to grow to become one of
          the foremost engineering construction and supply companies in Nigeria.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="mb-5">
  <div class="container">
    <div class="d-flex align-items-center mb-2">
      <div style="width: 120px"><p class="small-cap">our strengths</p></div>
      <div class="w-100 py-0"><hr class="mt-0 mb-2" /></div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div class="p-2">
          <img
            src="{{ url_for('static', filename='images/about.png') }}"
            class="w-100"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>
{% include 'main/_what.html' %} 
{% include 'main/_partners.html' %} 
{% endblock %}
