{% extends 'base.html' %} {% block layout %}
<div id="construction-hero">
  <div class="container">
    <div class="col-xl-6">
      <p class="big-cap2">
        Our Services<span class="material-icons mx-2"> arrow_forward_ios </span
        >Construction
      </p>
      <p class="big-cap">
        Atkins brings together data, technology and people to help create a
        lived environment that works better for everyone.
      </p>
    </div>
  </div>
</div>
<section class="section-1">
  <div class="container">
    <div class="row">
      <div class="col-xl-9">
        <p class="big-cap">
          As a market-leading design, engineering and project management
          consultancy we're transforming infrastructure delivery.
        </p>
        <p class="text1">
          We are thriving Nigerian construction company that executes projects
          in the areas of Civil, Water, Structures, and Municipal Engineering.
          Through partnerships and diversification, we are able to offer
          comprehensive services to our clients across the construction sector.
          Currently making a name for ourselves in the area of construction
          materials supply and installation, our aim is to grow to become one of
          the foremost engineering construction and supply companies in Nigeria.
        </p>
      </div>
      <div class="col-xl-3">
        <div class="col-xl-10 ms-auto">
          <div class="pix-nav d-none d-xl-block">
            <p>Construction</p>
            <ul>
              <li>structural works</li>
              <li>fabrication works</li>
              <li>polysterene works</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
    
</section>

{% include 'main/_recent.html' %}
{% endblock %}
