{% extends 'base-dashboard.html' %} 

{% block style %}
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/file-upload-with-preview/4.3.0/file-upload-with-preview.min.css"
  rel="stylesheet"
  media="all"
/>
{% endblock %} {% block body %}
<div id="materials" class="spacing">
  <div class="container">
    <div class="col-xl-8 mx-auto mt-5">
      <div class="table-base">
        <div class="text-center mb-3">
          <p class="title mb-0">New Material</p>
        </div>
        <div class="px-md-4">
          <form id="material-form" action="" method="POST" novalidate>
            {{ form.hidden_tag() }} {% with messages =
            get_flashed_messages(with_categories=true) %} {% if messages %} {%
            for category, message in messages %}
            <div class="alert alert-{{ category }} text-center text-bold mb-0">
              {{ message }}
            </div>
            {% endfor %} {% endif %} {% endwith %}
            <div class="row g-3 pt-2">
              <div>
                <div>
                  {{ form.name(id="name", placeholder="Material Name") }} {% for
                  error in form.name.errors %}
                  <span style="color: orangered; font-size: 13px"
                    >{{ error }}</span
                  >
                  {% endfor %}
                </div>
              </div>              
              <div class="col-12">
                <div>
                  {{ form.uses(rows=5, id="description", placeholder="Material Uses") }} 
                  {% for error in form.uses.errors %}
                  <span style="color: orangered; font-size: 13px"
                    >{{ error }}</span
                  >
                  {% endfor %}
                </div>
              </div>
              <div>
                 <p class="title mb-1" style="font-size: 1rem"
                    >Upload Tech Sheet</p
                  >
                <div>
                  {{ form.doc(id="name", placeholder="Upload Techsheet") }} {% for
                  error in form.doc.errors %}
                  <span style="color: orangered; font-size: 13px"
                    >{{ error }}</span
                  >
                  {% endfor %}
                </div>
              </div>
              <div
                class="custom-file-container mt-4"
                data-upload-id="materialPix"
              >
                <label
                  ><span class="title" style="font-size: 1rem"
                    >Upload Material Images</span
                  >
                  <a
                    href="javascript:void(0)"
                    class="custom-file-container__image-clear"
                    title="Clear Image"
                    >x</a
                  ></label
                >
                <label class="custom-file-container__custom-file">
                  <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                  <input
                    type="file"
                    class="custom-file-container__custom-file__custom-file-input"
                    id="file-input"
                    accept="*"
                    multiple
                  />
                  <span
                    class="custom-file-container__custom-file__custom-file-control"
                  ></span>
                </label>
                <div class="custom-file-container__image-preview"></div>
              </div>

              <div class="col-12 mb-3">
                {{ form.submit(class="btn btn-jackland btn-lg btn-block") }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/file-upload-with-preview/4.3.0/file-upload-with-preview.min.js"></script>

<script>
  var myUpload2 = new FileUploadWithPreview("materialPix");
</script>
{% endblock %}
